{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "minimal"
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-modules-commonjs",
    [
      "module-resolver",
      {
        "alias": {
          "@routes": "./require-routes",
          "@components": "./src/components",
          "@reducers": "./src/reducers",
          "@actions": "./src/actions",
          "@sagas": "./src/sagas",
          "@assets": "./src/assets",
          "@utils": "./src/utils",
          "@models": "./src/models"
        }
      }
    ]
  ]
}