.race-picker-container {

}

.race-picker-years {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
}

.race-picker-years .selected {
    background-color: #ff2800;
    font-size: 1.1em;
    color: white;
}

.race-picker-year {
    outline: 0;
    border: 0;
    width: 50px;
    height: 50px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.race-picker-year:hover {
    cursor: pointer;
    font-size: 1.1em;
    box-shadow: none;
}

.race-picker-year:active {
    color: #fff;
    background-color: #ff2800;
}
